body{
    background-color:aquamarine;
    margin: 0;
    padding: 0;
    text-align: center;
}


#h1{
    color: green;
    width: 500px;
    font-style: italic;
    font: size 50px;

    background-color: pink;

    padding: 10px 10px;

    border: 5px solid green; 

    margin: 20px 20px 20px 20px;
}

.card{    
    width: 320px;

    background-color: antiquewhite;

    padding: 10px;

    border: 5px solid green ;

    margin: 20px auto;

    text-align: center;
}


.car_image{
    width: 300px;
    height: 300px;
    text-align: center;

    background-color: pink;

    border: 5px solid green;

    margin: 0px 0px 10px 0px;
}


.titleclass{
    color: brown;
    width: 300px;
    font-style: italic;
    font-size: 50px;
    text-align: center;

    background-color: pink;

    border: 5px solid green; 

    margin: 0px 0px 10px 0px;
}

.paraclass{
    width: 300px;
    height: 330px;

    background-color: pink;

    border: 5px solid green;

    margin: 0px 0px 10px 0px;
}

#tableclass1{
    padding:0px 200px 0px 200px;
}



